.App {
  text-align: center;
}
.container{
  background-image: linear-gradient(to right,#0d6dfd,rgb(81, 195, 230));
  display: flex;
  margin: 70px 40px;
  
}
.card{
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
  border-radius: 17px;
}
hr{
  margin: 0 20px;
}
ul{
  text-align: left;
  margin-left: 20px;
}
span{
  font-size: 15px;
}
h1{
  font-size: 50px;
  margin: 20px 0;
}
h5{
  color: grey;
  font-size: 17px;
  margin-bottom: 15px;
  letter-spacing: 3PX;
}
.ul1{
margin-top: 20px;
margin-bottom: 20px;
list-style-type: none;
font-weight: 500;
}
.ul1 li::marker{
  content: '✔️';
}
li{
  padding: 7px;
  font-size: 16px;
}
button{
  background-color: #0d6dfd;
  opacity: 0.6;
  color: white;
  height: 50px;
  width: 300px;
  border-radius: 30px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
button:hover{
  background-color:#0c61e0 ;
}
.card:hover{
  margin-top: 44px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.card:hover button{
  opacity: 1;
  transition: all 0.3s;
}
h2{
  font-size: 50px;
  color: blue;
}
.card:nth-child(1) li:nth-child(n+5)::marker{
   content: "❌";
} 
.card:nth-child(2) li:last-child::marker{
  content: "❌";
} 
.card:nth-child(1) li:nth-child(n+5){
  opacity: 70%;
} 
.card:nth-child(2) li:last-child{
  opacity: 70%;
} 
.card:nth-child(2) li:nth-child(1){
  font-weight: bold;
} 
.card:nth-child(3) li:nth-child(1){
  font-weight: bold;
} 